<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextGen</title>
</head>
<body>

<h1> GPT-2 text generator</h1>

<form action="" method="post">
    <p>
        <label for="prefix">Prefix:</label>
        <textarea name="prefix" required rows="10" cols="40"></textarea>
    </p>
    <p>
        <label for="temperature">Temperature:</label>
        <input type="number" name="temperature" value="1" step="0.01">
    </p>
    <p>
        <label for="min_length">Min length:</label>
        <input type="number" name="min_length" min="1" max="20" value="20" required>
    </p>
    <p>
        <label for="max_length">Max length:</label>
        <input type="number" name="max_length" min="21" max="100" value="50" required>
    </p>
    <p>
        <input type="submit" value="Generate">
    </p>
    <p>
        <input type="reset">
    </p>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}

</body>
</html>
